*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}

#mainHade{
    background-color: black;
    color: white;
    height: 100px;
    text-align: center;
    line-height: 100px;
}
#main{
    width: 100%;
    height: 100vh - 100px;
}
#frame{
    padding-top: 70px;
    width: 100%;
    text-align: center;
}
#image{
    width: 100%;
}
.button {
    display: flex;
    justify-content: center;
}
label {
    cursor: pointer;
    font-size: 1em;
}
/* 못생긴 기존 input 숨기기 */
#chooseFile {
    visibility: hidden;
}
.image-show {
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 10.2cm;
    height: 15.1cm;
}

.img {
    position: absolute;
}

footer{
  position : absolute;
  bottom: 0;
  width: 100%;
}
.Copy{
    width: 100%;
    text-align: center;
}